<!DOCTYPE html>
<html>
    <!-- head partial gets included here -->
 <%- include('./partials/head') -%>
<body>
  <!-- include menu here -->
  <%- include('./partials/menu') -%>


    
    <h1> BDPA History </h1>
<img src="images/Black-Data-Processing-Associates.png" alt="Bdpa logo">  
    <ol>
<li> Founders of BDPA: Earl A. Pace Jr. and David Wimberly </li>
<li> Founding Year of BDPA: 1975 </li>
<LI> First Chapter(s): Philadelphia, Washington DC, Cleveland</LI>
<li> First BDPA Conference year and founder: Dr.Jesse Bemley, 1986 </li>
<li> First HSCC year and venue: </li>
<li> Most recent venue and winner of HSCC: Atlanta & Atlanta  </li>
<li> Current national president and VP: Perry Carter (President) Eric Ejiofor (VP)  </li>
<li> Current chapter president and VP:Rosemary Smith (President) Lynette McNeely (VP) </li>
<li> Year and refounder of Milwaukee chapter reactivation: 2013, Carmen Giles </li>
    </ol>
  </body>
</html>
